<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
  </head>

  <body>
    <header><%- include("./partials/header") %></header>

    <main>
      <h1>Schedule Website</h1>
      <h2>Create a new schedule</h2>

      <form action="/new" method="post">
        <div>
          <label for="surname">Surname: </label>
          <input type="text" id="surname" name="surname" required />
        </div>

        <div>
          <label for="firstname">Firstname: </label>
          <input type="text" name="firstname" id="firstname" required />
           
        </div>

        <div>
          <label for="email">Email: </label>
          <input type="text" name="email" id="email" required/>
           
        </div>

        <div>
          <label for="password">Password: </label>
          <input type="text" name="password" id="password" required>
            
        </div>

        <div>
          <button id="submit">Submit info</button>
        </div>
      </form>
    </main>

    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
