<nav>
  <ul>
    <li>
      <a href="/">Schedules</a>
    </li>

    <% if ( locals.session.loggedIn ) { %>
    <li>
      <a href="/new">New schedule</a>
    </li>
    <li>
      <a href="/logout">logout</a>
    </li>

    <% } else { %>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/signup">Signup</a>
    </li>
    <% } %>
  </ul>
</nav>
